

body {
  background: #000;
  overflow: hidden;
  font-family: 'Share Tech Mono',monospace;
}

#startmenu
{
  position: absolute;
  left: 0;
  right:0;
  top:0;
  height: 100%;
  background-color: #000;
  color: #DDD;  
  z-index:100;
  overflow: hidden;  
  transition: height .5s;
}

#gamespace.playing #startmenu
{
  height: 0%;
}


#complete
{
  position: absolute;
  left: 0;
  right:0;
  top:0;
  bottom: 100%;
  background-color: #000;
  color: #DDD;  
  z-index:200;
  overflow: hidden;  
  transition: bottom .5s;
}

#gamespace.gameover #complete
{
  bottom: 0;
}


#instructions
{
  position: absolute;
  left: 0;
  right:0;
  top:0;
  bottom: 100%;
  background-color: #000;
  color: #DDD;  
  z-index:200;
  overflow: hidden;  
  transition: bottom .5s;
}

#instructions.show
{
  bottom:0;
}

#gamespace a.menubutton
{
  padding: 1em;
  margin-bottom: 1em;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF;
}

#gamespace a
{
  color: #999;
  cursor: pointer; 
  text-decoration: none;
}


#gamespace
{
  position:relative;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

#gamecanvas {
  width: 100%;
  background:#003;  
  position:absolute;
  top: 0;
  left:0;
  right:0;
  z-index: 50;
}



#timeindicator
{
  text-align:center;
  font-size:125%;
  padding:.25em;
  border-radius: .25em;
  margin: .25em;
  position:absolute;
  bottom: 0px;
  right:0px;
  z-index: 25;
  color: #FFF;
  background: rgba(0,0,0,.6);
}

#scoreindicator
{
  text-align:center;
  font-size:100%;
  position:absolute;
  left: 0px;
  bottom: 0px;
  z-index: 25;
  padding:.25em;
  border-radius: .25em;
  margin: .25em;
  color: #FFF;
  background: rgba(0,0,0,.6);
  
}

#foulindicator
{
  text-align:center;
  font-size:300%;
  position:absolute;
  top: 0px;  
  left: 0px;
  right: 0px;
  background: rgba(200,0,0,.6);
  color: #FFF;
  display: none;
  z-index: 26;
  margin: .5em;
  border-radius: .25em;
}

#foulindicator.foul
{
 display: block; 
}

#colring
{
  width: 100%;
  height: auto;
  position:absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: rotateZ(120deg);
}

#handring
{
  width: 100%;
  height: auto;
  position:absolute;
  bottom: 0;
  left:0;
  z-index: 15;
}

#overlay
{
  width: 100%;
  height: auto;
  position:absolute;
  bottom: 0;
  left:   0;
  z-index: 20;
  margin:0;
}