body {
  background: #000;
  overflow: hidden;
}

#gamecanvas {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right:auto;
  background:#003;  
  position:absolute;
  top: 0;
  left:0;
  z-index: 50;
}

#handring
{
  width: 400px;
  height: 400px;
  position:absolute;
  bottom:-200px;
  left:0px;
  z-index: 15;
}

#overlay
{
  width: 400px;
  height: 400px;
  position:absolute;
  bottom: 0px;
  left:0px;
  z-index: 20;
}

#timeindicator
{

  font-size:200%;
  position:absolute;
  bottom: 0px;
  right:0px;
  background: #CCC;
  
  z-index: 25;

}

#foulindicator
{
  font-size:300%;
  position:absolute;
  bottom: 80px;
  right:0px;
  background: #F00;
  display: none;
  z-index: 26;
}
#foulindicator.foul
{
 display: block;
 
}





#colring
{
  width: 300px;
  height: 300px;
  position:absolute;
  bottom:-150px;
  left:50px;
  z-index: 10;
  transform: rotateZ(120deg);
}